In [8]:
#Task 1
import pandas as pd
import numpy as np

s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
print(s1,s2,s3,s4)

0    0.365499
1    0.861880
2    0.473729
3    0.223692
dtype: float64 0    0.773449
1    0.803717
2    0.532067
3    0.055789
dtype: float64 0    0.703780
1    0.667974
2    0.087858
3    0.140872
dtype: float64 0    0.711297
1    0.057332
2    0.112592
3    0.548394
dtype: float64

In [9]:
#Task 2
df = pd.DataFrame([s1,s2,s3,s4], columns=['Random Value 1', 'Random Value 2', 'Random Value 3', 'Random Value 4'])
df

   Random Value 1  Random Value 2  Random Value 3  Random Value 4
0             NaN             NaN             NaN             NaN
1             NaN             NaN             NaN             NaN
2             NaN             NaN             NaN             NaN
3             NaN             NaN             NaN             NaN

In [10]:
# Task 3 

stats = df.describe()

print(stats)

       Random Value 1  Random Value 2  Random Value 3  Random Value 4
count             0.0             0.0             0.0             0.0
mean              NaN             NaN             NaN             NaN
std               NaN             NaN             NaN             NaN
min               NaN             NaN             NaN             NaN
25%               NaN             NaN             NaN             NaN
50%               NaN             NaN             NaN             NaN
75%               NaN             NaN             NaN             NaN
max               NaN             NaN             NaN             NaN

In [11]:
# Task 4

null_values = df.isnull().sum()
print(null_values)

data_types = df.dtypes
print(data_types)

Random Value 1    4
Random Value 2    4
Random Value 3    4
Random Value 4    4
dtype: int64
Random Value 1    float64
Random Value 2    float64
Random Value 3    float64
Random Value 4    float64
dtype: object

In [14]:
  # Task 5

  # Using Location Method
  data_loc= df[['Random Value 2','Random Value 3']]
  print(data_loc)
  print("\n..............................................................\n")

  # Using Index Location Method
  data_iloc=df.iloc[:,[1,2]]
  print(data_iloc)

   Random Value 2  Random Value 3
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN

..............................................................

   Random Value 2  Random Value 3
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN